body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    background-color: #e1d9b7;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: rgb(94, 90, 90);
    border: 2px solid rgb(207, 192, 58);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}